<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
    <h1 class="text-center">Edit Campground</h1>

    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form">
        
    <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="campground[title]" id="title" required value="<%=campground.title%>">
        <div class="valid-feedback">
            looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" name="campground[location]" id="location" required  value="<%=campground.location%>">
        <div class="valid-feedback">
            looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input class="form-control" type="text" name="campground[image]" id="image" required  value="<%=campground.image%>">
        <div class="valid-feedback">
            looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" placeholder="0.00" name="campground[price]" aria-label="price" id="price" required  value="<%=campground.price%>">
            <div class="valid-feedback">
                looks good!
            </div>
          </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" name="campground[description]" id="description" required  value="<%=campground.description%>"></textarea>
        <div class="valid-feedback">
            looks good!
        </div>
    </div>

    
    <div class="mb-3">
        <button class="btn btn-success">Edit campground</button>
    </div>

    </form>
    <a href="/campgrounds">all campgrounds</a>
    </div>
</div>